<nav class="navbar navbar-inverse navbar-fixed-bot">
  <footer class="main-ftr">
    <div>
      <div>
      <a target="_blank" href="https://github.com/Qberthat/mcQuiz">Github</a>
      <a target="_blank" href="https://docyet.com/">DOCYET</a>
      </div>
      <p class="copyright">&copy; 2019 Qberthat</p> 
    </div>
  </footer>
</nav>