.navbar-fixed-top {
	border-bottom: 1px grey solid;
	background-color: rgba(6, 240, 209, 0.753);
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}
.navbar-brand, .nav-item {
	color: #17685a;
}

.navbar-brand:hover, .nav-item:hover, .nav-link:hover {
	border-bottom: 3px solid #07aaaa;
	padding-bottom: 1px;
	color: #17685a;
}


.nav-link:hover {
	padding-bottom: none !important;
	padding-top: none !important;
}