.resultContainer {
	text-align: center;
	margin-top: 50px;
	font-size: 40px;
}

li {
	margin-left: 5px;
}

.questionAnswer {
	text-align: left !important;
}

.answers-header {
	padding-top: 15px;
	margin-bottom: 27px;
}

.questions-header {
	margin-left: 40px;
	margin-bottom: -20px;
	margin-top: 150px;
}

.answerContent {
	display: inline-block;
	margin-top: 136px;
	margin-left: 25px;
}
