<div class="jumbotron" id="about">
	<div class="about-container">
		<h2>About Me</h2>
		<p>Hey, I'm Quentin.</p>
		<br>
		<p>
			I created this quiz as a project during my internship at DOCYET.
			This quiz is a random collections of questions fetched from an API. <br>
			Only 1 out of 4 answers is the correct one. Once you answered all 50 questions, you'll get your accumulated points shown. <br>
			It will also tell you if you would've passed. One right answer equals two points.
		</p>
	</div>
</div>
