<div class="jumbotron" id="about">
	<div class="about-container">
		<h2>About Me</h2>
		<p>Hey, I'm Quentin.</p>
		<br>
		<p>
			I created this quiz as a project during my internship at DOCYET.
		</p>
	</div>
</div>
