<div class="jumbotron">
	<div class="container">
		<h1>Random Generated Multiple Choice Quiz</h1>
		<p>Here's a randomly generated quiz.</p>
		<p>
			<a class="btn btn-primary btn-lg" {{action "startQuiz"}} role="button">Start</a>
		</p>
	</div>
</div>
